<center>
  <h1><%= @recipe['title'] %></h1>
</center>

<h3><%= @recipe['chef'] %></h3>
<h4><%= @recipe['formatted']['prep_time'] %></h4>
<h3>Ingredients</h3>
<ul>
  <% @recipe['formatted']['ingredients'].each do |ingredients| %>
    <li><%= ingredients  %></li>  
  <% end %> 
</ul>

<h4>Directions</h4>
<ol>
  <% @recipe['formatted']['directions'].each do |direction| %>
    <li><%= direction %></li>
  <% end %>
</ol>

<div>
  <a href="/client/recipes/<%= @recipe['id'] %>/edit">Edit</a>
  <a href="/client/recipes/<%= @recipe['id'] %>" data-method="delete">Delete</a>
</div>

<center>
  <img src="<%= @recipe['image_url'] %>" alt="<%= @recipe['title'] %>">
</center>
